{% extends 'web/layout.html' %}

{% block title %}
    {{ quizz.title }}
{% endblock %}

{% load quizz_markdown %}

{% block content %}
    <div id="page-content-wrapper">
        <div class="content-header">
            <h2>
                {{ quizz.title }}
                {% if is_teacher and scoring is None %}
                    <a href="/teacher/quizz/{{ quizz.id }}/edit" class="text-muted" title="Edit quizz"><span
                            class="iconify"
                            data-icon="fa-solid:pen"></span></a>
                {% endif %}
            </h2>
        </div>
        <kelvin-quizz quizz_html="{{ quizz_html }}" is_teacher="{{ is_teacher|lower }}"
                      student="{{ student|default_if_none:"" }}" enrolled_id="{{ enrolled_id|default_if_none:"0" }}"
                      remaining="{{ remaining }}" answers="{{ answers|default_if_none:"{}" }}"
                      scoring="{{ scoring|default_if_none:"{}" }}"
                      scored_by="{{ scored_by|default_if_none:"System Kelvin" }}">
        </kelvin-quizz>
    </div>
{% endblock %}
