{% extends 'web/layout.html' %} {% block content %}
    <div class="container">
        <h1><strong>Quizz: </strong>{{ quizz.title }}</h1>
        <div class="mt-4 ms-3">
            <h5><strong>Max points:</strong> {{ assignment.max_points }}</h5>
            <h5 class="mt-4"><strong>Duration:</strong> {{ assignment.duration }} minutes</h5>
            <h5><strong>Assigned from:</strong> {{ assignment.assigned|date:"d.m.Y, H:i" }}</h5>
            <h5><strong>Deadline:</strong> {{ assignment.deadline|date:"d.m.Y, H:i" }}</h5>
            <h6 class="my-4"><strong>Information:</strong> You can start a quizz by clicking on an <strong>Enroll
                quizz</strong> button. Deadline is finite and quizz can not exceed it, so you should start a quizz early
                enough to not get quizz duration time reduced. Please keep in mind that
                enrolling into quizz is an <strong>irreversible</strong>
                operation. Keep in mind that during filling a quizz, your access to system Kelvin will be limited. For
                more information, please, contact your teacher.
            </h6>
            <a href="{% url 'quizz_enroll' assignment_id=assignment.id %}"
               onclick="if(!confirm('Do you really want to start a quizz?')) event.preventDefault();">
                <button class="btn btn-danger">Enroll quizz</button>
            </a>
        </div>
    </div>
{% endblock %}
